* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
